.button {
	display: flex;
	align-items: center;

	box-sizing: border-box;
	padding: 10px 20px;

	cursor: pointer;
	transition: all ease 0.2s;
	text-align: center;
	letter-spacing: 0.015em;

	border: none;
	border-radius: 30px;

	font-family: var(--font-family);
	font-size: 16px;
	font-weight: bold;

	&:active {
		transform: translateY(3px);
	}
}

.primary {
	transition: all ease 0.2s;

	color: var(--white);
	border: 1px solid transparent;
	background: var(--primary);

	&:hover {
		padding: 10px 35px;

		color: var(--primary);
		border: 1px solid var(--primary);
		background: var(--white);
	}
}

.ghost {
	transition: all ease 0.2s;

	color: var(--primary);
	border: 1px solid var(--primary);
	background: var(--white);

	svg {
		transition: all ease 0.2s;
		fill: var(--primary);
	}

	.plus {
		display: inline-block;
	}

	i {
		display: inline-block;

		width: 23px;
		height: 23px;
		margin-left: 8px;

		transition: all ease 0.2s;

		color: var(--white);
		border-radius: 30px;
		background: var(--primary);

		font-size: 13px;

		font-weight: bold;
		font-style: normal;
		line-height: 22px;
	}

	&:hover {
		color: var(--white);
		background: var(--primary);

		svg {
			transform: rotate(90deg);
			fill: var(--white);
		}

		i {
			color: var(--primary);
			background: var(--white);
		}
	}
}

.black {
	transition: all ease 0.2s;

	color: var(--black);
	border: 1px solid transparent;
	background: var(--gray-dark);

	&:hover {
		color: var(--white);
		background: var(--black);
	}
}

.gray {
	padding: 10px 30px 10px 20px;

	transition: all ease .2s;

	color: var(--gray);
	border: 1px solid var(--gray);
	background: var(--white);

	&:hover {
		color: var(--white);
		border: 1px solid var(--black);
		background: var(--black);
	}
}
