.button {
  display: flex;

  box-sizing: border-box;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  font-size: 16px;
  font-family: var(--font-family);
  transition: all ease .2s;
  align-items: center;
  letter-spacing: 0.015em;

  .cart {
    display: none;
  }

  &:active {
    transform: translateY(3px);
  }

  svg {
    margin-right: 8px;
    width: 12px;
    height: 12px;
  }

  i {
    display: none;
  }

  .plus {
    display: none;
  }

  .arrow {
    display: none;
  }

  div {
    display: none;
  }
}

.primary {
  background: var(--primary);
  color: var(--white);
  border: 1px solid transparent;
  transition: all ease .2s;

  svg {
    display: none;
  }

  .arrow {
    display: none;
  }

  &:hover {
    background: var(--white);
    border: 1px solid var(--primary);
    color: var(--primary);
    padding: 10px 35px;
  }
}

.ghost {
  border: 1px solid var(--primary);
  background: var(--white);
  color: var(--primary);
  transition: all ease .2s;

  svg {
    fill: var(--primary);
    transition: all ease .2s;
  }

  .plus {
    display: inline-block;
  }

  i {
    transition: all ease .2s;
    margin-left: 8px;
    background: var(--primary);
    display: inline-block;

    width: 22px;
    height: 22px;

    color: var(--white);
    border-radius: 30px;

    font-weight: bold;
    font-size: 13px;
    font-style: normal;
    line-height: 22px;
  }

  &:hover {
    color: var(--white);
    background: var(--primary);


    svg {
      transform: rotate(90deg);
      fill: var(--white);
    }

    i {
      color: var(--primary);
      background: var(--white);
    }
  }
}

.black {
  color: var(--black);
  background: var(--gray-dark);
  border: 1px solid transparent;
  transition: all ease .2s;

  svg {
    display: none;
  }

  i {
    display: none;
  }

  &:hover {
    background: var(--black);
    color: var(--white);
  }
}

.gray {
  color: var(--gray-light);
  background: var(--white);
  border: 1px solid var(--gray-light);
  padding: 10px 30px 10px 20px;
  transition: all ease .2s;

  svg {
    display: none;
  }

  .arrow {
    display: inline-block;
    transition: all ease .2s;
  }

  i {
    display: none;
  }

  &:hover {
    border: 1px solid var(--black);
    background: var(--black);
    color: var(--white);

    .arrow {
      transform: translateX(-5px);
    }

    svg path {
      stroke: var(--white);
    }
  }
}

.cart {
  background: var(--primary);
  color: var(--white);

  .cart {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 10px;
  }

  i {
    display: inline-block;
    font-style: normal;
  }

  div {
    display: inline-block;
    border-right: 1px solid var(--white);
    height: 20px;
    margin-left: 10px;
    opacity: 0.5;
  }
}
