.header {
  h1, p {
    margin: 0;
  }
  display: grid;
  grid-template-columns: [start] 38px [title] 1fr [middle] auto [end];
  align-items: center;
  gap: 20px;
  padding: 40px;
  border-bottom: 1px solid #efefef;

  .logo {
    grid-column: start / title;
  }

  .title, p {
    grid-column: title / middle;
  }
}