.sort {
  display: flex;
  align-items: center;
  position: relative;

  svg {
    margin-right: 8px;
    transform: rotate(180deg);
  }
  .sortTitle {
    margin-right: 8px;
  }
  .selected {
    color: var(--primary);
    border-bottom: 1px dashed var(--primary);
    cursor: pointer;
  }

  .modal {
    display: none;
    list-style-type: none;
    position: absolute;
    right: 0;
    top: 10px;
    background: var(--white);
    border-radius: 10px;
    padding: 15px 20px;
    -webkit-box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);

    li {
      margin-left: 0;
      padding-left: 0;
      margin-bottom: 10px;
      cursor: pointer;
      transition: all ease .2s;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        color: var(--primary);
      }
    }
  }

  p {
    margin: 0;
  }
}