.wrapper {
  max-width: 1400px;
  margin: 0 auto;

  border-radius: 10px;
  background-color: var(--white);

  .header {
    padding: 40px;
    border-bottom: 1px solid var(--gray-light);
  }

    .cartWrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 60px 40px 40px 40px;

    .cartTop {
      display: grid;
      grid-template-columns: 32px 1fr auto ;
      grid-template-areas: "cartIcon title trash";
      gap: 20px;
      margin-bottom: 30px;
      align-items: center;

      @media screen and(max-width:500px) {
        grid-template-columns: auto 1fr;
        grid-template-areas:
                "cartIcon title"
                "trash trash";
      }

      .cartIcon {
        grid-area: cartIcon;

        svg {
          width: 29px;
          height: 29px;
        }
      }

      .title {
        margin: 0;
        grid-area: title;
      }

      .trash {
        grid-area: trash;
        display: grid;
        grid-template-columns: 20px auto;
        grid-template-areas: "trashIcon trashText";
        gap: 10px;
        cursor: pointer;


        .trashIcon {
          grid-area: trashIcon;
          path {
            transition: all ease .2s;
          }
        }

        .trashText {
          transition: all ease .2s;
          grid-area: trashText;
          margin: 0;
          color: var(--gray);

        }

        &:hover {
          .trashIcon {
            path {
              stroke: var(--black);
            }
          }
          .trashText {
            color: var(--black);
          }
        }
      }
    }

    .card {
      display: grid;
      grid-template-columns: 80px 1fr auto auto 32px;
      grid-template-areas: "image titleIcon count sum remove";
      align-items: center;
      justify-content: center;
      gap: 15px;
      border-bottom: 1px solid var(--gray-light);
      padding: 30px 0;
      @media screen and(max-width: 1000px) {
        img {
          margin-left: 13px;
        }
        grid-template-columns: auto 1fr auto auto 32px;
        grid-template-areas:
                "image titleIcon titleIcon titleIcon remove"
                "count sum sum sum sum";

        .remove {
          margin-bottom: 12px;
        }
      }
      @media screen and(max-width:500px) {
        img {
          margin-left: 0;
        }
        grid-template-columns: 1fr auto ;
        grid-template-areas:
              "image remove"
              "titleIcon titleIcon"
              "count sum";

        .remove {
          margin-bottom: 12px;
        }

        .sum {
          width: auto!important;
        }
      }

      .image {
        grid-area: image;
        width: 80px;
        height: 80px;
      }

      .titleItem {
        grid-area: titleIcon;

        h2 {
          margin: 0;
        }

        p {
          margin: 0;
          font-size: 13px;
          color: var(--gray);
        }
      }

      .count {
        grid-area: count;
        display: flex;
        align-items: center;

        svg {
          cursor: pointer;
        }

        .countItem {
          text-align: center;
          width: 40px;
          font-weight: 700;
        }
      }

      .sum {
        grid-area: sum;
        width: 200px;
        font-weight: 700;
        font-size: 22px;
        text-align: center;
      }

      .remove {
        grid-area: remove;
        cursor: pointer;

        circle, path {
          transition: all ease .2s;
        }

        &:hover {
          circle {
            stroke: var(--black);
          }
          path {
            fill: var(--black);
          }
        }
      }
    }
  }

  .totalBlock {
    display: grid;
    grid-template-columns: 1fr auto;
    font-size: 22px;
    font-weight: 700;
    padding: 20px 0;

    p {
      margin: 0;
    }

    span {
      margin-left: 10px;
    }

    .totalItems {
      display: flex;
    }

    .totalOrder {
      display: flex;
      span {
        color: var(--primary);
      }
    }
  }

  .cartBottom {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 20px 0 135px 0;

    .backBtn {
      svg {
        transition: all ease .2s;
        margin-right: 5px;
        path {
          stroke: var(--gray);
          transition: all ease .2s;
        }
      }

      &:hover {
        svg {
          transform: translateX(-5px);
          path {
            stroke: var(--white);
          }
        }
      }
    }

    .pay {
      padding: 10px 20px;
    }
  }
}
