.categories {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .categoryBlock {
    display: flex;

    .category {
      margin-right: 10px;
    }
  }

  .sort {
    text-align: center;
  }

  .activeBlack {
    background: var(--black);
    color: var(--white);
  }
}

@media screen and (max-width: 850px) {
  .categories {
    .categoryBlock {
      display: none;
    }
  }
  @media screen and (max-width: 500px) {
    .categories {
      justify-content: center;
    }
  }
  @media screen and (max-width: 350px) {
    .categories {
      padding: 30px;
    }
  }

}