html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: #FFDF8C;

	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}



:root {
	--black: #282828;
	--gray-light: #F3F3F3;
	--gray: #A4A4A4;
	--gray-dark: #F9F9F9;
	--white: white;
	--primary: #FE5F1E;
	--primary-hover: #FD7348;
	--red: #FC836D;
	--red-light: #F5A69A;
	--green: #127A4F;
	--green-light: #C8F8E4;
	--font-family: 'Open Sans', sans-serif;
}
